/*
Steve Barry
Homework 1
*/
/* Overarching style of the document*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #d9dcd6;
}

/* General settings */
a {
    color: #ffffff;
    text-decoration: none;
}
p {
    font-size: 16px;
}

/* The header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    position: fixed;
    top: 0px;
    width: 100%;
    transition: 0.2s;
    font-size: 20px;
}
header h1 {
    display: inline-block;
    font-size: 48px;
}
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
header nav ul {
    list-style-type: none;
}
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
header nav ul li:hover{
    color: darkgrey;
    text-shadow: 1px 1px darkgrey;
}
.seo {
    /*Colour amended slightly to increase contrast*/
    color: #7eaf4c;
}

/* banner image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* main content*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
.mainContent {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
.mainContent img {
    max-height: 200px;
}
.mainContent h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* benefit list on right side of page*/
.benefitList {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 940px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    text-align: center;
    color: #ffffff;
}
.benefitList p{
    margin-top: 0;
    margin-bottom: 15%;
}
.benefitImage {
    display: block;
    margin: 0 auto;
    max-width: 150px;
}

/* the page footer*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
footer h2 {
    font-size: 20px;
}